<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. IT and Graphics</title>
    <link rel="stylesheet" href="/static-files/css/foundation.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    {# <link rel="stylesheet" href="/static-files/css/linearicons.css"> #}
    <link rel="stylesheet" href="/static-files/css/app.css">

  </head>
  <body>

    {% include './partials/header.njk'%}
    {% block content%}{% endblock %}
    {% include "./partials/footer.njk" %}

    <script src="/static-files/js/vendor/jquery.js"></script>
    <script src="/static-files/js/vendor/what-input.js"></script>
    <script src="/static-files/js/vendor/foundation.js"></script>
    <script src="/static-files/js/app.js"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

  </body>
</html>