.w3-cell {
    &:hover {
        background-color: #F8AB05;
    }

    a:hover {
        color: white;
        ;
    }
}

.menu-Tab-navigation {
    height: 50px;
}

.menu-nav-properties {
    margin: 10px;
}